**Descriptive Analysis**

Imports

In [1]:
import pandas as pd

In [2]:
import os, sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from Data_Selector import *
from Data_Cleaner import *
from Data_Visualizer import *
from Data_Outlier_Handler import OutlierHandler

**Data Reading**

In [3]:
# Reading a file with a custom delimiter
df = pd.read_csv('../Data/MachineLearningRating_v3.txt', delimiter='|')

C:\Users\USER\AppData\Local\Temp\ipykernel_20400\2279570384.py:2: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/MachineLearningRating_v3.txt', delimiter='|')

**Data Understanding**

In [156]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,MaritalStatus,Gender,Country,Province,PostalCode,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,RegistrationYear,make,Model,Cylinders,cubiccapacity,kilowatts,bodytype,NumberOfDoors,VehicleIntroDate,CustomValueEstimate,AlarmImmobiliser,TrackingDevice,CapitalOutstanding,NewVehicle,WrittenOff,Rebuilt,Converted,NumberOfVehiclesInFleet,SumInsured,TermFrequency,CalculatedPremiumPerTerm,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,NaN,NaN,NaN,NaN,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [ ]:
# To get the column names
print(df.columns.tolist())

['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth', 'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province', 'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode', 'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders', 'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser', 'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff', 'Rebuilt', 'Converted', 'NumberOfVehiclesInFleet', 'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium', 'TotalClaims']

In [145]:
df['TotalClaims'].unique()

array([     0.        ,   2294.09649123,   2040.47368421, ...,
       101812.51754386, 155317.57894737,  28903.85087719], shape=(1615,))

In [158]:
df.size

51004998

In [157]:
df.shape

(1000098, 51)

**Summary**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

**Statistical Info**

In [243]:
df.describe()

,UnderwrittenCoverID,PolicyID,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
count,1.000098e+06,1.000098e+06,1.000098e+06,9.995460e+05,1.000098e+06,999546.000000,999546.000000,999546.000000,999546.000000,2.204560e+05,0.0,1.000098e+06,1.000098e+06,1.000098e+06,1.000098e+06
mean,1.048175e+05,7.956682e+03,3.020601e+03,5.487770e+07,2.010225e+03,4.046642,2466.743258,97.207919,4.019250,2.255311e+05,NaN,6.041727e+05,1.178757e+02,6.190550e+01,6.486119e+01
std,6.329371e+04,5.290039e+03,2.649854e+03,1.360381e+07,3.261391e+00,0.294020,442.800640,19.393256,0.468314,5.645157e+05,NaN,1.508332e+06,3.997017e+02,2.302845e+02,2.384075e+03
min,1.000000e+00,1.400000e+01,1.000000e+00,4.041200e+06,1.987000e+03,0.000000,0.000000,0.000000,0.000000,2.000000e+04,NaN,1.000000e-02,0.000000e+00,-7.825768e+02,-1.200241e+04
25%,5.514300e+04,4.500000e+03,8.270000e+02,6.005692e+07,2.008000e+03,4.000000,2237.000000,75.000000,4.000000,1.350000e+05,NaN,5.000000e+03,3.224800e+00,0.000000e+00,0.000000e+00
50%,9.408300e+04,7.071000e+03,2.000000e+03,6.005842e+07,2.011000e+03,4.000000,2694.000000,111.000000,4.000000,2.200000e+05,NaN,7.500000e+03,8.436900e+00,2.178333e+00,0.000000e+00
75%,1.391900e+05,1.107700e+04,4.180000e+03,6.005842e+07,2.013000e+03,4.000000,2694.000000,111.000000,4.000000,2.800000e+05,NaN,2.500000e+05,9.000000e+01,2.192982e+01,0.000000e+00
max,3.011750e+05,2.324600e+04,9.870000e+03,6.506535e+07,2.015000e+03,10.000000,12880.000000,309.000000,6.000000,2.655000e+07,NaN,1.263620e+07,7.442217e+04,6.528260e+04,3.930921e+05

TotalPremium and TotalClaims should not be negative.

**Missing Value**

In [208]:
percent_missing_values(df)

The dataset contains 7.68 % missing values.

In [209]:
missing_df = missing_values_table(df)

Your selected dataframe has 51 columns.
There are 20 columns that have missing values.

In [210]:
missing_df

                         Missing Values  % of Total Values    Dtype
NumberOfVehiclesInFleet         1000098             100.00  float64
CustomValueEstimate              779642              77.96  float64
WrittenOff                       641901              64.18   object
Rebuilt                          641901              64.18   object
Converted                        641901              64.18   object
Bank                             145961              14.59   object
AccountType                       40232               4.02   object
Gender                             9536               0.95   object
MaritalStatus                      8259               0.83   object
mmcode                              552               0.06  float64
make                                552               0.06   object
VehicleType                         552               0.06   object
bodytype                            552               0.06   object
kilowatts                           552               0.06  float64
cubiccapacity                       552               0.06  float64
Cylinders                           552               0.06  float64
Model                               552               0.06   object
NumberOfDoors                       552               0.06  float64
VehicleIntroDate                    552               0.06   object
CapitalOutstanding                    2               0.00   object

As a convention, it is good to remove columns with more than 30% of missing values.

In [211]:
columns_to_be_removed = missing_df[missing_df['% of Total Values'] >= 30.00].index.tolist()
columns_to_be_removed

['NumberOfVehiclesInFleet',
 'CustomValueEstimate',
 'WrittenOff',
 'Rebuilt',
 'Converted']

Even though the CustomValueEstimate column have way too much missing values, instead of removing we will impute it since we might need it for further analysis.

In [212]:
columns_to_be_removed = [col for col in columns_to_be_removed if col not in ['CustomValueEstimate']]
columns_to_be_removed

['NumberOfVehiclesInFleet', 'WrittenOff', 'Rebuilt', 'Converted']

In [213]:
df_cleaned = df.drop(columns_to_be_removed, axis=1)
df_cleaned.shape

(1000098, 47)

Now let's check the status of missing values in the modified dataframe.

In [215]:
percent_missing_values(df_cleaned)

The dataset contains 2.1 % missing values.

In [216]:
missing_values_table(df_cleaned)

Your selected dataframe has 47 columns.
There are 16 columns that have missing values.

                     Missing Values  % of Total Values    Dtype
CustomValueEstimate          779642              77.96  float64
Bank                         145961              14.59   object
AccountType                   40232               4.02   object
Gender                         9536               0.95   object
MaritalStatus                  8259               0.83   object
mmcode                          552               0.06  float64
make                            552               0.06   object
VehicleType                     552               0.06   object
Model                           552               0.06   object
Cylinders                       552               0.06  float64
kilowatts                       552               0.06  float64
cubiccapacity                   552               0.06  float64
bodytype                        552               0.06   object
NumberOfDoors                   552               0.06  float64
VehicleIntroDate                552               0.06   object
CapitalOutstanding                2               0.00   object

Since the missing percentage of CustomValueEstimate is very high we will impute them with the backward fill method. In this case, using a single value like mean or median is not advisable as it may heavily bais our data in an unwanted way by making the majority of values equal to a single value.

In [217]:
fix_missing_bfill(df_cleaned, 'CustomValueEstimate')

c:\Users\USER\Desktop\KAIM\AlphaCare-Insurance-Analysis\scripts\Data_Cleaner.py:93: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[col] = df[col].fillna(method='bfill')

779642 missing values in the column CustomValueEstimate have been replaced using the backward fill method.

0          119300.0
1          119300.0
2          119300.0
3          119300.0
4          119300.0
             ...
1000093         NaN
1000094         NaN
1000095         NaN
1000096         NaN
1000097         NaN
Name: CustomValueEstimate, Length: 1000098, dtype: float64

In [218]:
percent_missing_values(df_cleaned)

The dataset contains 0.45 % missing values.

In [220]:
percent_missing_rows(df_cleaned)

15.48 % of the rows in the dataset contain atleast one missing value.

In [221]:
missing_values_table(df_cleaned)

Your selected dataframe has 47 columns.
There are 16 columns that have missing values.

                     Missing Values  % of Total Values    Dtype
Bank                         145961              14.59   object
AccountType                   40232               4.02   object
Gender                         9536               0.95   object
MaritalStatus                  8259               0.83   object
mmcode                          552               0.06  float64
VehicleType                     552               0.06   object
make                            552               0.06   object
Model                           552               0.06   object
Cylinders                       552               0.06  float64
cubiccapacity                   552               0.06  float64
kilowatts                       552               0.06  float64
bodytype                        552               0.06   object
NumberOfDoors                   552               0.06  float64
VehicleIntroDate                552               0.06   object
CustomValueEstimate              56               0.01  float64
CapitalOutstanding                2               0.00   object

Since "NewVehicle" , "Gender", and "MaritalStatus"  are categorical columns, it is better to impute them with the value "unknown" so that we don't bias the data.

In [244]:
fix_missing_value(df_cleaned, 'NewVehicle', 'unknown')
fix_missing_value(df_cleaned, 'Gender', 'Not Specified')
fix_missing_value(df_cleaned, 'MaritalStatus', 'NotSpecified')

0 missing values in the column NewVehicle have been replaced by unknown.
0 missing values in the column Gender have been replaced by Not Specified.
0 missing values in the column MaritalStatus have been replaced by NotSpecified.

0          Not specified
1          Not specified
2          Not specified
3          Not specified
4          Not specified
               ...
1000037           Single
1000038           Single
1000039           Single
1000040           Single
1000041           Single
Name: MaritalStatus, Length: 845270, dtype: object

In [245]:
percent_missing_values(df_cleaned)

The dataset contains 0.0 % missing values.

In [246]:
percent_missing_rows(df_cleaned)

0.0 % of the rows in the dataset contain atleast one missing value.

In [253]:
df_cleaned.shape

(845270, 47)

In [249]:
percent_missing_values(df_cleaned)

The dataset contains 0.0 % missing values.

In [229]:
df_cleaned2.shape

(530295, 47)

Now there is no missing value.

**Data Types Conversion**

In [254]:
df_cleaned.dtypes

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

In [255]:
df_cleaned

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,MaritalStatus,Gender,Country,Province,PostalCode,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,RegistrationYear,make,Model,Cylinders,cubiccapacity,kilowatts,bodytype,NumberOfDoors,VehicleIntroDate,CustomValueEstimate,AlarmImmobiliser,TrackingDevice,CapitalOutstanding,NewVehicle,SumInsured,TermFrequency,CalculatedPremiumPerTerm,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,Not specified,Not specified,South Africa,Gauteng,1459,Rand East,Rand East,Mobility - Motor,44069150.0,Passenger Vehicle,2004,MERCEDES-BENZ,E 240,6.0,2597.0,130.0,S/D,4.0,6/2002,119300.0,Yes,No,119300,More than 6 months,119300.00,Monthly,584.6468,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000037,31499,389,2015-05-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,60058415.0,Passenger Vehicle,2006,TOYOTA,QUANTUM 2.7 SESFIKILE 14s,4.0,2694.0,111.0,B/S,4.0,11/2007,100000.0,Yes,No,0,More than 6 months,500000.00,Monthly,238.8057,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,182.449177,0.0
1000038,31504,389,2015-06-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,60056987.0,Passenger Vehicle,2006,TOYOTA,HiACE SIYAYA,4.0,2237.0,75.0,B/S,4.0,8/2001,100000.0,Yes,No,0,More than 6 months,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,21.929825,0.0
1000039,31504,389,2015-08-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,60056987.0,Passenger Vehicle,2006,TOYOTA,HiACE SIYAYA,4.0,2237.0,75.0,B/S,4.0,8/2001,100000.0,Yes,No,0,More than 6 months,0.01,Monthly,25.0000,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,21.929825,0.0
1000040,31537,389,2015-05-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,60056987.0,Passenger Vehicle,2006,TOYOTA,HiACE SIYAYA,4.0,2237.0,75.0,B/S,4.0,8/2001,100000.0,Yes,No,0,More than 6 months,5000000.00,Monthly,1.5921,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,0.180204,0.0
1000041,31537,389,2015-07-01 00:00:00,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,Single,Male,South Africa,Western Cape,7493,Karoo 1 (Northeast of Cape Town),Northeast of CT,Mobility - Motor,60056987.0,Passenger Vehicle,2006,TOYOTA,HiACE SIYAYA,4.0,2237.0,75.0,B/S,4.0,8/2001,100000.0,Yes,No,0,More than 6 months,5000000.00,Monthly,1.5921,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,1.396579,0.0

By observing the columns we can realize that TransactionMonth column is actually datetime values even though they are labelled  as objects by pandas. Besides this cloumn all the other columns with object data types are actually string values. So we will convert these columns to their appropriate data types.

In [256]:
convert_to_datetime(df_cleaned, ['TransactionMonth'])

In [257]:
# get the columns with object data type
string_columns = df_cleaned.select_dtypes(include='object').columns.tolist()
string_columns

['Citizenship',
 'LegalType',
 'Title',
 'Language',
 'Bank',
 'AccountType',
 'MaritalStatus',
 'Gender',
 'Country',
 'Province',
 'MainCrestaZone',
 'SubCrestaZone',
 'ItemType',
 'VehicleType',
 'make',
 'Model',
 'bodytype',
 'VehicleIntroDate',
 'AlarmImmobiliser',
 'TrackingDevice',
 'CapitalOutstanding',
 'NewVehicle',
 'TermFrequency',
 'ExcessSelected',
 'CoverCategory',
 'CoverType',
 'CoverGroup',
 'Section',
 'Product',
 'StatutoryClass',
 'StatutoryRiskType']

In [258]:
convert_to_string(df_cleaned, string_columns)

In [259]:
df_cleaned.dtypes

UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                 string[python]
LegalType                   string[python]
Title                       string[python]
Language                    string[python]
Bank                        string[python]
AccountType                 string[python]
MaritalStatus               string[python]
Gender                      string[python]
Country                     string[python]
Province                    string[python]
PostalCode                           int64
MainCrestaZone              string[python]
SubCrestaZone               string[python]
ItemType                    string[python]
mmcode                             float64
VehicleType                 string[python]
RegistrationYear                     int64
make                        string[python]
Model                       string[python]
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                    string[python]
NumberOfDoors                      float64
VehicleIntroDate            string[python]
CustomValueEstimate                float64
AlarmImmobiliser            string[python]
TrackingDevice              string[python]
CapitalOutstanding          string[python]
NewVehicle                  string[python]
SumInsured                         float64
TermFrequency               string[python]
CalculatedPremiumPerTerm           float64
ExcessSelected              string[python]
CoverCategory               string[python]
CoverType                   string[python]
CoverGroup                  string[python]
Section                     string[python]
Product                     string[python]
StatutoryClass              string[python]
StatutoryRiskType           string[python]
TotalPremium                       float64
TotalClaims                        float64
dtype: object

**Dropping Duplicates**

In [260]:
# search for duplicate rows and drop them
drop_duplicates(df_cleaned)

51 duplicate rows were found and removed.

**Outlier Treatment**

In [261]:
outlier_handler = OutlierHandler(df_cleaned)

In [262]:
columns = df_cleaned.select_dtypes('float64').columns.tolist()
columns

['mmcode',
 'Cylinders',
 'cubiccapacity',
 'kilowatts',
 'NumberOfDoors',
 'CustomValueEstimate',
 'SumInsured',
 'CalculatedPremiumPerTerm',
 'TotalPremium',
 'TotalClaims']

In [263]:
outlier_handler.getOverview(columns)

Name of columns,mmcode,TotalPremium,CalculatedPremiumPerTerm,NumberOfDoors,SumInsured,cubiccapacity,Cylinders,CustomValueEstimate,TotalClaims,kilowatts
Min,4042080.0,-782.576754,0.0,0.0,0.01,0.0,0.0,20000.0,-12002.412281,0.0
Q1,60056925.0,0.0,3.0622,4.0,5000.0,2237.0,4.0,120000.0,0.0,75.0
Median,60058407.0,2.191491,8.1755,4.0,7500.0,2694.0,4.0,200000.0,0.0,111.0
Q3,60058418.0,21.929825,90.0,4.0,235000.0,2694.0,4.0,279100.0,0.0,111.0
Max,65065350.0,2253.507281,3051.8211,6.0,10000000.0,12880.0,10.0,19000000.0,393092.105263,309.0
IQR,1493.0,21.929825,86.9378,0.0,230000.0,457.0,0.0,159100.0,0.0,36.0
Lower fence,60054685.5,-32.894737,-127.3445,4.0,-340000.0,1551.5,4.0,-118650.0,0.0,21.0
Upper fence,60060657.5,54.824561,220.4067,4.0,580000.0,3379.5,4.0,517750.0,0.0,165.0
Skew,-2.634727,3.58119,2.734417,-2.476053,2.540281,3.938786,5.518513,61.288306,68.378582,0.369466
Number_of_outliers,210623,174790,142483,96296,88446,53396,30693,5594,2548,2169
Percentage_of_outliers,140.41%,116.53%,94.99%,64.2%,58.96%,35.6%,20.46%,3.73%,1.7%,1.45%

In [264]:
outlier_handler.replace_outliers_with_fences(columns)

In [265]:
outlier_handler.getOverview(columns)

Name of columns,mmcode,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
Min,60054685.5,4.0,1551.5,21.0,4.0,20000.0,0.01,0.0,-32.894737,0.0
Q1,60056925.0,4.0,2237.0,75.0,4.0,120000.0,5000.0,3.0622,0.0,0.0
Median,60058407.0,4.0,2694.0,111.0,4.0,200000.0,7500.0,8.1755,2.191491,0.0
Q3,60058418.0,4.0,2694.0,111.0,4.0,279100.0,235000.0,90.0,21.929825,0.0
Max,60060657.5,4.0,3379.5,165.0,4.0,517750.0,580000.0,220.4067,54.824561,0.0
IQR,1493.0,0.0,457.0,36.0,0.0,159100.0,230000.0,86.9378,21.929825,0.0
Lower fence,60054685.5,4.0,1551.5,21.0,4.0,-118650.0,-340000.0,-127.3445,-32.894737,0.0
Upper fence,60060657.5,4.0,3379.5,165.0,4.0,517750.0,580000.0,220.4067,54.824561,0.0
Skew,-0.790754,0.0,-1.306323,-0.119522,0.0,0.329374,1.196965,1.155423,1.154437,0.0
Number_of_outliers,0,0,0,0,0,0,0,0,0,0
Percentage_of_outliers,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%

In [272]:
# Remove rows where TotalPremium is zero or negative
df_cleaned2 = df_cleaned[df_cleaned['TotalPremium'] > 0]

# Verify if rows have been removed by checking the shape of the dataframe
print(f"Original data shape: {df.shape}")
print(f"Cleaned data shape: {df_cleaned2.shape}")

Original data shape: (1000098, 51)
Cleaned data shape: (530294, 47)

In [274]:
df_cleaned2.shape

(530294, 47)

**Data Summarization**

In [73]:
# Get descriptive statistics for the numerical columns
descriptive_stats = df[['TotalPremium', 'TotalClaims']].describe()

# Display the statistics
descriptive_stats

       TotalPremium   TotalClaims
count  1.000098e+06  1.000098e+06
mean   6.190550e+01  6.486119e+01
std    2.302845e+02  2.384075e+03
min   -7.825768e+02 -1.200241e+04
25%    0.000000e+00  0.000000e+00
50%    2.178333e+00  0.000000e+00
75%    2.192982e+01  0.000000e+00
max    6.528260e+04  3.930921e+05